.newcollection {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    margin-bottom:100px ;
  }
  
  .newcollection h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #333;
  }
  
  .newcollection hr {
    width: 50%;
    margin: 0 auto;
    border: 1px solid #ddd;
  }
  
  .newcollection-item {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap; /* Prevent items from wrapping to the next line */
    margin-top: 20px;
  }
  
  .newcollection-item .item {
    flex: 0 0 22%; /* Adjust the width as needed, leaving some space for margins */
    margin: 10px;
    display: inline;
  }
  
  /* Add more styles as needed */
  